body {
    display: flex;
    position: relative;
}
body > div:not(:nth-child(1)) {
    height: 120vh;
    width: 65vw;
    background-color: #e6e4e2
}
.sidelogo {
    background-image: url(./photos/yohan-marion-OHyjAcUpzfI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 35vw;
    height: 120vh;
}

.brief {
    padding: 20% 5% 0% 5%;
    font-size: large;
    font-weight: bold;
}

form.input-section {
    margin: 0px 0px 5px 0px;
    position: absolute;
    top: 276px;
    padding: 5%;
    height: 30vh;
    background-color: #646b4970;
    box-shadow: 0px 5px 5px rgba(95, 103, 109, 0.37);
}

legend {
    font-size: large;
    font-weight:bold;
    color: rgb(98, 88, 88);
    padding-bottom: 5%;
}

.ribbon {
    display: flex;
    position: relative;
    top: 120px;
    background-color: rgba(152, 144, 134, 0.438);
    height: 20vh;
    font-size: 2rem;
}

.ribbon-description {
    flex: 1 1 60%;
    align-self: center;
}
div[logo] {
    background-image: url(./photos/odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10%;
    flex: 1 1 40%;
}

button {
    background-color: blanchedalmond;
    padding: 10px 20px 10px 20px;
}
button:hover {
    background-color: #b3a5a2;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
}
fieldset > fieldset {
    display: block;
}

input {
    display: block;
    width: 15vw;
    outline: none;

}
input:hover {
    background-color: #ede5e0;
}
input:focus{
    background-color: #ede5e0;
}
input:valid {
    border-color: 2px ridge #7981ca;

}
input:focus:invalid {
    border: 2px ridge red;
}
label {
    font-size: small;
}
#footer {
    position: absolute;
    bottom: 0%;
    padding: 20px;
}
#footer > div {
    padding: 10px;
}

#login-page {
    color: #646b49fb;
}
#login-page:hover {
    color: #646b49fb;
    font-weight: bold;
}